<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/master.xhtml">
	<ui:define name="content">

		<h1>Usuarios</h1>

		<p:growl id="msgs" showDetail="true" showSummary="true" autoUpdate="true"/> 
		
		<h:form id="form">
			<p:panel id="panel" header="Buscar Usuarios" style="margin-bottom:10px;">
				<h:panelGrid columns="2" cellpadding="5">
					<p:inputText id="usuario" value="#{usuarioBean.usuarioBuscado}" label="Buscar Usuarios" />
					<p:commandButton value="Buscar" actionListener="#{usuarioBean.buscar()}" update="form:dt" icon="ui-icon-search"/>
				</h:panelGrid>
			</p:panel>

			<p:panel id="dt">

				<p:dataTable var="e" value="#{usuarioBean.listaUsuario}">
					<p:column headerText="Usuario">
						<h:outputText value="#{e.usuario}" />
					</p:column>

					<p:column headerText="Estado" style="text-align:center">
						<h:outputText value="#{e.estado}" />
					</p:column>

					<p:column headerText="Acciones" style="text-align:center">
						<p:commandLink actionListener="#{usuarioBean.mostrarData(e)}" oncomplete="PF('wdlg').show()" 
						update="form:dlg" process="@this" value="Modificar" immediate="true"/>
					</p:column>

				</p:dataTable>

			</p:panel>

			<p:dialog id="dlg" widgetVar="wdlg" header="Modificando Usuario: #{usuarioBean.usuario.usuario}" closeOnEscape="true" resizable="false" >
				
				<h:panelGrid id="pg" columns="3">
				
					<p:outputLabel for="txtUsuario" value="Usuario: "/>
					<p:inputText id="txtUsuario" value="#{usuarioBean.usuario.usuario}" disabled="true" />
					<p:message for="txtUsuario" display="icon"/>	
					
					<p:outputLabel for="txtContrasena" value="Actual Contraseña: " />
					<p:password id="txtContrasena" value="#{usuarioBean.contrasenaAVerificar}"/>
					<p:commandButton value="Verificar" actionListener="#{usuarioBean.verificar()}" update="pg2" />
				
				</h:panelGrid>	
					
				<h:panelGrid id="pg2" columns="3">	
					
					<p:outputLabel for="pwd1" value="Nueva Contraseña:" />
					<p:password id="pwd1" value="#{usuarioBean.nuevaContrasena}" match="pwd2" label="Password 1"  validatorMessage="Contraseñas no coinciden" />
					<p:message for="pwd1" display="icon"/>
					
					<p:outputLabel for="pwd2" value="Repetir Contraseña:" />
					<p:password id="pwd2" value="#{usuarioBean.nuevaContrasena}" label="Password 2"  />
					<p:message for="pwd2" display="icon"/>
					
					<p:commandButton value="Aceptar" rendered="#{usuarioBean.usuario.contraseñaVerificada}" actionListener="#{usuarioBean.actualizarUsuario()}" update="pg2, txtContrasena"/>
					<p:commandButton value="Cancelar" actionListener="#{usuarioBean.cancelarActualizar()}" oncomplete="PF('wdlg').hide()" update="dlg" />
					<br/>
									
				</h:panelGrid>
				
				
			</p:dialog>
			
		</h:form>
		
	</ui:define>

</ui:composition>

</html>